<!DOCTYPE html>
<html>
	<head>
		<title> Smial </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href = "../css/bootstrap.min.css" rel = "stylesheet">
        <link href = "../css/styles_list.css" rel = "stylesheet">
		<script src = "../js/jquery.js"></script>
        <script src = "../js/bootstrap.js"></script>
	</head>
	
	<!-- ============ START OF BODY ========== -->
	
	<body>
	<body>
		<div class = "navbar navbar-inverse navbar-fixed-top">
			<div class = "container">
				<a href = "#" class = "navbar-brand"> Smial</a>
				
				<button class = "navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				
				<div class = "collapse navbar-collapse navHeaderCollapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="house_nav">My House</a></li>
						<li><a href="profile">Profile</a></li>
						<li><a href="about">About</a></li>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="container">
			<div class = "panel panel-default panel-body">
				<div class = "row">
					<div class = "col-md-2">
						<ul class="nav nav-pills nav-stacked">
							<li><a href = "about">Team</a></li>
							<li><a href = "about-lauren">Lauren</a></li>
							<li><a href = "about-chenning">Chenning</a></li>
							<li class = "active"><a href = "about-adam">Adam</a></li>
						</ul>
					</div>

				</div>
			</div>
			
			<hr class="featurette-divider">

			<div class="row featurette">
				<div class="col-md-5">
					<img class="featurette-image img-responsive" src="../img/Adam-2.jpg" width="55%">
				</div>
				<div class="col-md-7">
					<h2 class="featurette-heading"> Adam <span class="text-muted"> Karabatakis </span></h2>
					<p class="lead"> Mathematics, Economics </p>
					<p class="text-muted"> University of Michigan, Ann Arbor</p>
				</div>
			</div>

			<hr class="featurette-divider">	
			
			<div class="row featurette">
				<div class="col-md-7">
					<h2 class="featurette-heading"> About Me</span></h2>
					<p>Bane is a supervillain who appears in comic books published by DC Comics. The character's origin was in Batman: Vengeance of Bane #1 (January 1993), and was created by Chuck Dixon, Doug Moench, and Graham Nolan. Bane has been one of Batman's more physically and intellectually powerful foes. He is often credited for being the only villain to have "Broken The Bat". IGN's list of the Top 100 Comic Book Villains of All Time ranked Bane as #34. Bane was portrayed by Robert Swenson in the 1997 film Batman & Robin, and by Tom Hardy as the main antagonist in the 2012 film The Dark Knight Rises.</p>
				</div>

				<div class = "col-md-3">
					<h3 class = "text-muted"> Contact Info</h3>
					<p> email: akarabat@umich.edu</p>
					<p> phone: (734) 837-8225</p>
				</div>


			</div>

			<hr class="featurette-divider">
				
		</div>

	</body>
</html>