<!DOCTYPE html>
<html>
	<head>
		<title> Smial </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href = "../css/bootstrap.min.css" rel = "stylesheet">
        <link href = "../css/styles_list.css" rel = "stylesheet">
		<script src = "../js/jquery.js"></script>
        <script src = "../js/bootstrap.js"></script>
	</head>

	<!-- ============ START OF BODY ========== -->

	<body>
		<div class = "navbar navbar-inverse navbar-fixed-top">
			<div class = "container">
				<a href = "#" class = "navbar-brand"> Smial</a>

				<button class = "navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				<div class = "collapse navbar-collapse navHeaderCollapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="house_nav">My House</a></li>
						<li><a href="about">About</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="container">
			<div class = "panel panel-default panel-body">
				<div class = "row">
					<div class = "col-md-2">
						<ul class="nav nav-pills nav-stacked">
							<li class = "active"><a href = "about">Team</a></li>
							<li><a href = "about-lauren">Lauren</a></li>
							<li><a href = "about-chening">Chening</a></li>
							<li><a href = "about-adam">Adam</a></li>
						</ul>
					</div>

				</div>
			</div>

			<hr class="featurette-divider">

			<div class="row featurette">
				<div class="col-md-7">
					<h2 class="featurette-heading"> Chening <span class="text-muted"> Duker </span></h2>
					<p class="lead"> Computer Science </p>
					<p class="text-muted"> University of Michigan, Ann Arbor</p>
				</div>
				<div class="col-md-5">

					<img class="featurette-image img-responsive" src="../img/Chenning.jpg" width="55%">
				</div>
			</div>

			<hr class="featurette-divider">

			<div class="row featurette">
				<div class="col-md-5">
					<img class="featurette-image img-responsive" src="../img/Lauren.jpg" width="55%">
				</div>
				<div class="col-md-7">
					<h2 class="featurette-heading"> Lauren <span class="text-muted"> Bilbo </span></h2>
					<p class="lead"> Electrical Engineering </p>
					<p class="text-muted"> University of Michigan, Ann Arbor</p>
				</div>

			</div>

			<hr class="featurette-divider">

			<div class="row featurette">
				<div class="col-md-7">
					<h2 class="featurette-heading"> Adam <span class="text-muted"> Karabatakis </span></h2>
					<p class="lead"> Mathematics, Economics </p>
					<p class="text-muted"> University of Michigan, Ann Arbor</p>
				</div>
				<div class="col-md-5">
					<img class="featurette-image img-responsive" src="../img/Adam-2.jpg" width="55%">
				</div>
			</div>

			<hr class="featurette-divider">

		</div>

	</body>
</html>
