<!DOCTYPE html>
<html>
	<head>
		<title> Smial </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href = "../css/bootstrap.min.css" rel = "stylesheet">
        <link href = "../css/styles_list.css" rel = "stylesheet">
		<script src = "../js/jquery.js"></script>
        <script src = "../js/bootstrap.js"></script>
	</head>
	
	<!-- ============ START OF BODY ========== -->
	
	<body>
	<body>
		<div class = "navbar navbar-inverse navbar-fixed-top">
			<div class = "container">
				<a href = "#" class = "navbar-brand"> Smial</a>
				
				<button class = "navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				
				<div class = "collapse navbar-collapse navHeaderCollapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="house_nav">My House</a></li>
						<li><a href="profile">Profile</a></li>
						<li><a href="about">About</a></li>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="container">
			<div class = "panel panel-default panel-body">
				<div class = "row">
					<div class = "col-md-2">
						<ul class="nav nav-pills nav-stacked">
							<li><a href = "about">Team</a></a></li>
							<li><a href = "about-lauren">Lauren</a></li>
							<li class = "active"><a href = "about-chenning">Chenning</a></li>
							<li><a href = "about-adam">Adam</a></li>
						</ul>
					</div>

				</div>
			</div>
			
			<hr class="featurette-divider">

			<div class="row featurette">
				<div class="col-md-5">
					<img class="featurette-image img-responsive" src="../img/Chenning.jpg" width="55%">
				</div>
				<div class="col-md-7">
					<h2 class="featurette-heading"> Chenning <span class="text-muted"> Duker </span></h2>
					<p class="lead"> Computer Science </p>
					<p class="text-muted"> University of Michigan, Ann Arbor</p>
				</div>

			</div>

			<hr class="featurette-divider">
			
			<div class="row featurette">
				<div class="col-md-7">
					<h2 class="featurette-heading"> About Me</span></h2>
					<p>Willy Wonka is a character in Roald Dahl's 1964 children's novel Charlie and the Chocolate Factory, its sequel Charlie and the Great Glass Elevator, and the film adaptations of these books that followed. The book and the film adaptations both vividly depict an odd Wonka, a phoenix-like man arising from his creative and eccentric genius. He bewilders the other characters with his antics, but Charlie enjoys Wonka's behavior. In the 2005 film adaptation, Willy Wonka's behavior is viewed more as a (sympathetic) character flaw. Wonka's reasons for giving away his fabulous factory are never revealed in the books, but in the 1971 film adaptation, Wonka tells Charlie he "can't live forever", so he wanted to find a sweet child he could trust his candy making secrets to.</p>
				</div>
				<div class = "col-md-3">
					<h3 class = "text-muted"> Contact Info</h3>
					<p> email: cead@umich.edu</p>
					<p> phone: (517) 505-2105</p>
				</div>


			</div>

			<hr class="featurette-divider">
				
		</div>
	
	</body>
</html>