<!DOCTYPE html>
<html>
	<head>
		<title> Smial </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href = "../css/bootstrap.min.css" rel = "stylesheet">
        <link href = "../css/styles_list.css" rel = "stylesheet">
		<script src = "../js/jquery.js"></script>
        <script src = "../js/bootstrap.js"></script>
	</head>

	<!-- ============ START OF BODY ========== -->

	<body>
	<body>
		<div class = "navbar navbar-inverse navbar-fixed-top">
			<div class = "container">
				<a href = "#" class = "navbar-brand"> Smial</a>

				<button class = "navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				<div class = "collapse navbar-collapse navHeaderCollapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="house_nav">My House</a></li>
						<li><a href="profile">Profile</a></li>
						<li><a href="about">About</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="container">
			<div class = "panel panel-default panel-body">
				<div class = "row">
					<div class = "col-md-2">
						<ul class="nav nav-pills nav-stacked">
							<li><a href = "about">Team</a></li>
							<li class = "active"><a href = "about-lauren">Lauren</a></li>
							<li><a href = "about-chenning">Chenning</a></li>
							<li><a href = "about-adam">Adam</a></li>
						</ul>
					</div>

				</div>
			</div>

			<hr class="featurette-divider">

			<div class="row featurette">
				<div class="col-md-5">
					<img class="featurette-image img-responsive" src="../img/Lauren.jpg" width="55%">
				</div>
				<div class="col-md-7">
					<h2 class="featurette-heading"> Lauren <span class="text-muted"> Bilbo </span></h2>
					<p class="lead"> Electrical Engineering </p>
					<p class="text-muted"> University of Michigan, Ann Arbor</p>
				</div>

			</div>

			<hr class="featurette-divider">

			<div class="row featurette">
				<div class="col-md-7">
					<h2 class="featurette-heading"> About Me</span></h2>
					<p>Katniss Everdeen is a fictional character and the protagonist of The Hunger Games trilogy by Suzanne Collins. Her name comes from an edible plant called katniss. Academy Award-winning actress Jennifer Lawrence portrayed Katniss in the films The Hunger Games, and The Hunger Games: Catching Fire. She will reprise her role in the sequels The Hunger Games: Mockingjay – Part 1, and The Hunger Games: Mockingjay – Part 2.</p>
					<p>Katniss and her family come from District 12, a coal-mining district that is the poorest and least populated district in the dystopian fictional autocratic nation of Panem. In the course of the first book, The Hunger Games, Katniss volunteers to replace her sister, Primrose "Prim" Everdeen, after she is called forth during Reaping Day, a day in which, annually, one male and one female tribute between the ages of 12 to 18 are called forth from each district to fight to the death in an arena and only one person can come out alive from all 24 people in what are known as the Hunger Games. Katniss, after an alliance with Rue from District 11 (who reminded Katniss of her own sister), a 12-year-old who had a very touching death, she joins up with fellow District 12 tribute Peeta Mellark, and the pair compete in the Games together. She uses her knowledge of hunting and archery to survive, and the two become the victors after defying the Capitol's attempt to force one to kill the other. Throughout the next two novels, Catching Fire and Mockingjay, Katniss becomes the symbol of a rebellion for the twelve districts against the Capitol's oppression.</p>
				</div>

				<div class = "col-md-3">
					<h3 class = "text-muted"> Contact Info</h3>
					<p> email: lgbilbo@umich.edu</p>
					<p> phone: (512) 820-8711</p>
				</div>


			</div>

			<hr class="featurette-divider">

		</div>

	</body>
</html>
