
<!DOCTYPE html>
<!-- 	Draft 1 of Mhacks IV project
		Adam Karabatakis
		Lauren Bilbo
		Chening Duker
-->

<head>
		<title> Smial </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href = "../css/bootstrap.min.css" rel = "stylesheet">
        <link href = "../css/styles_list.css" rel = "stylesheet">
		<script src = "../js/jquery.js"></script>
        <script src = "../js/bootstrap.js"></script>

</head>

	<!-- ============ START OF BODY ========== -->

	<body>
		<div class = "navbar navbar-inverse navbar-fixed-top">
			<div class = "container">
				<a href = "#" class = "navbar-brand"> Smial </a>

				<button class = "navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				<div class = "collapse navbar-collapse navHeaderCollapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="house_nav">My House</a></li>
						<li ><a href="profile">Profile</a></li>
						<li><a href="about">About</a></li>
					</ul>
				</div>
			</div>
		</div>









		<div class="container">
			<div class="panel panel-default panel-body text-center">
				<h1> Payment Schedule</h1>
			</div>
		</div>

		<div class="list-group col-md-5">

			<a href="#" class="list-group-item">
				<h4> asdfsaf </h4>
				<p> sdfs </p>
				<p> sdfsdf </p>
			</a>
			<a href="#" class="list-group-item">
				<h4> asdfsaf </h4>
				<p> sdfs </p>
				<p> sdfsdf </p>
			</a>
			<a href="#" class="list-group-item">
				<h4> asdfsaf </h4>
				<p> sdfs </p>
				<p> sdfsdf </p>
			</a>

		</div>



				<div class="col-md-2"></div>
<<<<<<< HEAD
		<div class="list-group col-md-3">
		
			<div class="form-group">
				<label for = "user_id" class=" control-label">Venmo User ID</label>
				<input name="user_id" type = "text" class="form-control"></input>
				<label for = "note" class="control-label">Note about payment</label>
				<input name="note" type = "text" class="form-control"></input>
				<label for = "amount" class="control-label">Payment Amount</label>
				<input name="amount" type = "text" class="form-control"></input>
				<button class="btn btn-primary" onclick="Parse.Cloud.httpRequest()" type="submit">Submit</button>
			
			</div>
=======
		<div class="list-group col-md-5">

		<div class="form-group">
			<label for = "user_id" class="col-lg-2 control-label">Venmo User ID</label>
				<div class="col-lg-10">
			<input name="user_id" type = "text" class="form-control"></input>
			<label for = "note" class="col-lg-2 control-label">Note about payment</label>
				<div class="col-lg-10">
			<input name="note" type = "text" class="form-control"></input>
		</div>

		<div class="form-group">
			<label for = "amount" class="col-lg-2 control-label">Payment Amount</label>
				<div class="col-lg-10">
			<input name="amount" type = "text" class="form-control"></input>
		</div>
		<button class="btn btn-primary" type="submit">Submit</button>

>>>>>>> origin/master
		</div>



		<script>
		Parse.Cloud.httpRequest({
			method: 'POST',
			url: 'http://api.venmo.com/v1/payments',
 			params: {
  				access_token : '',
  				user_id : 'user_id',
  				note : 'note',
  				amount : 'amount',

			},
			success: function(httpResponse) {
				console.log(httpResponse.text);
			},
			error: function(httpResponse) {
				console.error('Request failed with response code ' + httpResponse.status);
  }
});


//
// </script>
//
// 		<div class="list-group col-md-5">
//
// 		 <script>
//
// 		var highest() {
// 			var highPerson = 0;
// 			var high = 0;
// 			for( var i = 1; i < House.length; ++i ) {
// 				if ( House[i][3] > high ) {
// 					high = House[i][3];
// 					highPerson = i;
// 				}
// 			}
// 			return highPerson;
// 		}
//
// 		var lowest() {
// 			var lowPerson = 0;
// 			var low = 0;
// 			for( var i = 1; i < House.length; ++i ){
// 				if ( House[i][3] < low ) {
// 					low = House[i][3];
// 					lowPerson = i;
// 				}
// 			}
// 			return lowPerson;
// 		}
//
// 		while( highest() > 0 & lowest() < 0 ) {
// 			var payer = highest();
// 			var payee = lowest();
// 			var amnt = min( highest(), absolute( lowest() ) );
// 			House[ payer ][3] = House[ payer ][3] - amnt;
// 			House[ payee ][3] = House[ payee ][3] + amnt;
// 		}
// 		</script>
// 		
	</body>

</html>
