
<!DOCTYPE html>
<html>
  <head>
    <title>Sample App</title>
  </head>
  <body>
    <h1>This is an example of a template you can use to pipe in data</h1>
    <p><%= message %></p>
  </body>
</html>
