
<!DOCTYPE html>
<html>
  <head>
    <title>My Homes</title>
  </head>
  <body>
    <h1><a href="logout">logout</a></h1>

    <form method="post" action="/createHome">
    <input name="nameHome" class="span2" type="text" placeholder="Give this house a name">
    <button type="submit" class="btn">Create a new home</button>
    </form>

    <ul>
    <% for(var i=0; i<homes.length; i++) { %>
        <li>
            <a href='home/<%= homes[i] %>'>
                <%= homes[i] %>
                <form method="post" action="/addUser">
                <input name="nameHome" class="span2" type="text" placeholder="user_name">
                <input name="homeId" value='<%= homes[i].id %>
                <button type="submit" class="btn">Add User</button>
                </form>
            </a>
        </li>
    <% } %>
    </ul>

  </body>
</html>
