<!DOCTYPE html>
<html>
  <head>
    <title>My Smials</title>
  </head>
  <body>
    <h1>You are signed in as <%= me %></h1>
    <a href="logout"> logout</a>

    <form method="post" action="/createHome">
    <input name="name" class="span2" type="text" placeholder="Name your new home"></input>
    <button type="submit" class="btn">Create a new home</button>
    </form>

    <ul>
    <% for(var i=0; i < homes.length; i++) { %>
        <li>
            <div>
              <a href="home/<%= JSON.parse(JSON.stringify(homes[i])).objectId %>" >
                <span><%= JSON.parse(JSON.stringify(homes[i])).name %></span>
              </a>
              <form method="post" action="/addUser">
              <input name="userName" class="span2" type="text" placeholder="user_name"></input>
              <input  name="homeId" value="<%= JSON.parse(JSON.stringify(homes[i])).objectId %>" ></input>
              <button type="submit" class="btn">Add User</button>
              </form>
            </div>
        </li>
    <% } %>
    </ul>

  </body>
</html>
