
<!DOCTYPE html>
<html>
  <head>
    <title>My Homes</title>
  </head>
  <body>
    <h1><a href="logout">logout</a></h1>

    <form method="post" action="/createHome">
    <input name="nameHome" class="span2" type="text" placeholder="Give this house a name">
    <button type="submit" class="btn">Create a new home</button>
    </form>

    <ul>
    <% for(var i=0; i<homeNames.length; i++) { %>
        <li>
            <div>
              <a href='home/<%= homeNames[i] %>'>
                <%= homeNames[i] %>
              </a>
              ()
              <form method="post" action="/addUser">
              <input name="username" class="span2" type="text" placeholder="user_name">
              <input name="homeId" value='<%= homeIDs[i] %>' >
              <button type="submit" class="btn">Add User</button>
              </form>
            </div>
        </li>
    <% } %>
    </ul>

  </body>
</html>
