<!DOCTYPE html>
<!-- 	Draft 1 of Mhacks IV project
		Adam Karabatakis
		Lauren Bilbo
		Chening Duker
-->

<head>
		<title> <%= JSON.parse(JSON.stringify(home)).name %> </title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href = "../css/bootstrap.min.css" rel = "stylesheet">
		<link href = "../css/styles.css" rel = "stylesheet">
		<script src = "../js/jquery.js"></script>
		<script src = "../js/bootstrap.js"></script>
		<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js'></script> 
</head>

	<!-- ============ START OF BODY ========== -->

	<body>
		<div class = "navbar navbar-custom navbar-top">
			<div class = "container">
				<a href = "#" class = "navbar-brand"><%= JSON.parse(JSON.stringify(home)).name %></a>

				<button class = "navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				<div class = "collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#"><%= JSON.parse(JSON.stringify(home)).name %></a></li>
						<li><a href="about">About</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="col-lg-4">
				<div class="thumbnail">
					<img src="http://placekitten.com/g/400/200"></img>
				</div>
			
				<div class="list-group" id="members">
					<a class="list-group-item" href="#" id="expand_housemate1">
						<span class="badge">2</span>
						House Member
					</a>						  
					<a class="list-group-item"  href="#" id="expand_housemate2">
						<span class="badge">4</span>
						House Member
					</a>						  
					<a class="list-group-item"  href="#" id="expand_housemate3">
						<span class="badge">14</span>
						House Member
					</a>						  
					<a class="list-group-item"  href="#" id="expand_housemate4">
						<span class="badge">7</span>
						House Member
					</a>						  
					<a class="list-group-item"  href="#" id="expand_housemate5">
						<span class="badge">9</span>
						House Member
					</a>
				</div>
					
				<ul class="list-group" id="updates">
					<li class="list-group-item">
						Update
						<p> Update </p>
					</li>						
					<li class="list-group-item">
						Update
						<p> Update </p>
					</li>						
					<li class="list-group-item">
						Update
						<p> Update </p>
					</li>						
					<li class="list-group-item">
						Update
						<p> Update </p>
					</li>						
					<li class="list-group-item">
						Update
						<p> Update </p>
					</li>						
					<li class="list-group-item">
						Update
						<p> Update </p>
					</li>
					<li class="list-group-item">
						Update
						<p> Update </p>
					</li>
				</ul>
			</div>
			
			<div class="col-lg-4">
				<div class="panel panel-default" id="edit_grocery_list">
					<div class="panel-heading">Grocery List</div>
					<div class="panel-body text-center">
						<form action="/make_item">
							<div class="form-group">
								<label for="itemName">New Item</label>
								<input type="text" class="form-control" id="itemName" placeholder="Parsnips">
							</div>
							<button type="submit" class="btn btn-default">Add Item</button>
						</form>
						<div class="btn-group btn-group-justified">
							<a type="button" class="btn btn-default" href="../grocery_list">See Full List</a>
						</div>
					</div>
					<div class="list-group" id="grocery">
						<% for(var i=0; i<groceryNames.length; i += 1) { %>
							<li href="#" class="list-group-item">
								<h4><%= groceryNames[i] %></h4>
								<button type="button" class="btn btn-default" id="glyph-plus">
									<span class="glyphicon glyphicon-plus"></span> Bump
								</button>						
							</li>
						<% } %>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="panel panel-default" id="edit_grocery_list">
					<div class="panel-heading">Stock List</div>
					<div class="panel-body text-center">
						<div class="btn-group btn-group-justified">
						  <div class="btn-group">
							<button type="button" class="btn btn-default">Add Item</button>
						  </div>
						  <div class="btn-group">
							<a type="button" class="btn btn-default" href="#">Full List</a>
						  </div>
						</div>
					</div>
					<div class="list-group">
						<li href="#" class="list-group-item">
							<h4>Parsnips</h4>
							<button type="button" class="btn btn-default" id="glyph-in">
							  <span class="glyphicon glyphicon-ok"></span> In
							</button>
							<button type="button" class="btn btn-default" id="glyph-out">
							  <span class="glyphicon glyphicon-remove"></span> Out
							</button>
						</li>
						<li href="#" class="list-group-item">
							<h4>Parsnips</h4>
							<button type="button" class="btn btn-default" id="glyph-in">
							  <span class="glyphicon glyphicon-ok"></span> In
							</button>
							<button type="button" class="btn btn-default" id="glyph-out">
							  <span class="glyphicon glyphicon-remove"></span> Out
							</button>
						</li>
						<li href="#" class="list-group-item">
							<h4>Parsnips</h4>
							<button type="button" class="btn btn-default" id="glyph-in">
							  <span class="glyphicon glyphicon-ok"></span> In
							</button>
							<button type="button" class="btn btn-default" id="glyph-out">
							  <span class="glyphicon glyphicon-remove"></span> Out
							</button>
						</li>
						<li href="#" class="list-group-item">
							<h4>Parsnips</h4>
							<button type="button" class="btn btn-default" id="glyph-in">
							  <span class="glyphicon glyphicon-ok"></span> In
							</button>
							<button type="button" class="btn btn-default" id="glyph-out">
							  <span class="glyphicon glyphicon-remove"></span> Out
							</button>
						</li>
					</div>
				</div>
			</div>
		</div>

	</body>
</html>
