<!DOCTYPE html>
<!-- 	Draft 1 of Mhacks IV project
		Adam Karabatakis
		Lauren Bilbo
		Chening Duker
-->

<head>
		<title> Smial </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href = "../css/bootstrap.min.css" rel = "stylesheet">
        <link href = "../css/styles.css" rel = "stylesheet">
		<script src = "../js/jquery.js"></script>
        <script src = "../js/bootstrap.js"></script>
		<script src="https://cdn.firebase.com/js/client/1.0.15/firebase.js"></script>
		<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js'></script>
		<link rel="stylesheet" type="text/css" href="../css/example.css">
</head>

	<!-- ============ START OF BODY ========== -->

	<body>
		<div class = "navbar navbar-inverse navbar-fixed-top">
			<div class = "container">
				<a href = "#" class = "navbar-brand"> Smial </a>

				<button class = "navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				<div class = "collapse navbar-collapse navHeaderCollapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#">My House</a></li>
						<li><a href="profile">Profile</a></li>
						<li><a href="about">About</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="panel panel-default panel-body">
				<h1> 1028 Packard </h1>
				<table class="table table-bordered">
					<tr>
						<td id="member1">
							<strong>Adam</strong> Karabatakis
						</td>
						<td id="member2">
							<strong>Lauren</strong> Bilbo
						</td>
						<td id="member3">
							<strong>Chening</strong> Duker
						</td>
					</tr>
				</table>
			</div>
		</div>

		<div class="container">
			<div class = "col-md-8">
				<!-- CHAT MARKUP -->
				<div class="example-chat l-demo-container">
				  <header>Firebase Chat Demo</header>

				  <div class='example-chat-toolbar'>
					<label for="nameInput">Username:</label>
					<input type='text' id='nameInput' placeholder='enter a username...'>
				  </div>

				  <ul id='example-messages' class="example-chat-messages"></ul>

				  <footer>
					<input type='text' id='messageInput'  placeholder='Type a message...'>
				  </footer>
				</div>

				<!-- CHAT JAVACRIPT -->
				<script>
				  // CREATE A REFERENCE TO FIREBASE
				  var messagesRef = new Firebase('https://faup3jrmabj.firebaseio-demo.com/');

				  // REGISTER DOM ELEMENTS
				  var messageField = $('#messageInput');
				  var nameField = $('#nameInput');
				  var messageList = $('#example-messages');

				  // LISTEN FOR KEYPRESS EVENT
				  messageField.keypress(function (e) {
					if (e.keyCode == 13) {
					  //FIELD VALUES
					  var username = nameField.val();
					  var message = messageField.val();

					  //SAVE DATA TO FIREBASE AND EMPTY FIELD
					  messagesRef.push({name:username, text:message});
					  messageField.val('');
					}
				  });

				  // Add a callback that is triggered for each chat message.
				  messagesRef.limit(10).on('child_added', function (snapshot) {
					//GET DATA
					var data = snapshot.val();
					var username = data.name || "anonymous";
					var message = data.text;

					//CREATE ELEMENTS MESSAGE & SANITIZE TEXT
					var messageElement = $("<li>");
					var nameElement = $("<strong class='example-chat-username'></strong>")
					nameElement.text(username);
					messageElement.text(message).prepend(nameElement);

					//ADD MESSAGE
					messageList.append(messageElement)

					//SCROLL TO BOTTOM OF MESSAGE LIST
					messageList[0].scrollTop = messageList[0].scrollHeight;
				  });
				</script>
			</div>
			<div class = "col-md-4">
				<div class="panel panel-default panel-body text-center">
					<h3><strong>Grocery List</strong></h3>
					<a class="btn btn-primary btn-lg" href="#add" data-toggle="modal"> Add an Item</a>
					<a class="btn btn-primary btn-lg" href="grocery_list.ejs">See Full List</a>
				</div>

				<div class="panel panel-default panel-body text-center">
					<h3><strong>Generate Payments</strong></h3>
					<button type="button" class="btn btn-primary btn-lg">Create!</button>
				</div>
				<div class="panel panel-default panel-body text-center">
					<h3><strong>See Previous Payments</strong></h3>
					<button type="button" class="btn btn-primary btn-lg">See Full List</button>
				</div>
			</div>
		</div>




		<div class="modal" id="add" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<form class="form-horizontal">
						<div class="modal-header">
						<form method="post" action="/make_item" class="pull-right">
							<h4>Request an Item</h4>
						</div>
						<div class="modal-body">
							<div class="form-group">
								<label for = "item-name" class="col-lg-2 control-label">Item</label>
								<div class="col-lg-10">
s									<input name="itemName" type = "text" class="form-control" id="item-name" placeholder="Parsnips"></input>
								</div>
							</div>
							<div class="form-group">
								<label for = "item-cost" class="col-lg-2 control-label">Price</label>
								<div class="col-lg-10">
									<input name="itemCost" type = "text" class="form-control" id="item-cost" placeholder="$14.00"></input>
								</div>
							</div>

							<div class="form-group">
								<label for = "item-notes" class="col-lg-2 control-label">Notes</label>
								<div class="col-lg-10">
									<input name="itemNotes" type = "text" class="form_control" id="item-notes" placeholder="That's a lot of parsnips!"></input>
								</div>
							</div>

							<div class="form-group">
								<label for = "item-members" class="col-lg-2 control-label">Who's In</label>
								<div class="col-lg-10">
									<label class="checkbox-inline">
									  <input type="checkbox" id="inlineCheckbox1" value="option1"> Adam Karabatakis
									</label>
									<label class="checkbox-inline">
									  <input type="checkbox" id="inlineCheckbox2" value="option2"> Lauren Bilbo
									</label>
									<label class="checkbox-inline">
									  <input type="checkbox" id="inlineCheckbox3" value="option3"> Chening Duker
									</label>
								</div>
							</div>

						</div>
						<div class="modal-footer">
							<button class="btn btn-primary" type="submit">Submit</button>
							<a class="btn btn-default" data-dismiss="modal">Close</a>
						</div>
					</form>
				</div>
			</div>
		</div>

</div>



	</body>

</html>
