<!DOCTYPE html>
<!-- 	Draft 1 of Mhacks IV project
		Adam Karabatakis
		Lauren Bilbo
		Chening Duker
-->

<head>
		<title> Smial </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href = "../css/bootstrap.min.css" rel = "stylesheet">
        <link href = "../css/styles_front.css" rel = "stylesheet">
		<script src = "../js/jquery.js"></script>
        <script src = "../js/bootstrap.js"></script>
</head>

	<!-- ============ START OF BODY ========== -->

	<body>
		<div class = "navbar navbar-inverse navbar-fixed-top">
			<div class = "container">
				<a href = "#" class = "navbar-brand"> Smial </a>

				<button class = "navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				<div class = "collapse navbar-collapse navHeaderCollapse">
					<ul class="nav navbar-nav navbar-left">
						<li><a href="#">About</a></li>
					</ul>
					<form method="post" action="/login" class="navbar-form pull-right">
					<p><%= message %></p>
					<input name="username" class="span2" type="text" placeholder="Username">
					<input name="password" class="span2" type="password" placeholder="Password">
					<button type="submit" class="btn">Log In</button>
				</form>
				</div>

			</div>
		</div>

		<div class="jumbotron text-center">
			<div class="container">
				<h1 class="text-center" id="mytitle"> Live Together. Together.</h1>
					<form method="post" action="/signup">
					<input name="username" class="span2" type="text" placeholder="Username">
					<input name="password" class="span2" type="password" placeholder="Password">
					<button type="submit" class="btn">Sign Up</button>
				</form>
			</div>
		</div>

		<div class="container">
			<p id="front_text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
			<p id="front_text">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.  </p>
			<p id="front_text">sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
		</div>

	</body>

</html>
