body {
	padding: 80px;
	background-color: 	#E6E6E6;

}

list-group-item {
	background-color: black;
}

navbar {
	color: black;
}

#member1{
	color: red;
}

#member2 {
	color: blue;
}

#member3 {
	color: green;
}


