body {
	padding: 0px;
	background-color: 	#E6E6E6;
}

#member1{
	color: red;
}

#member2 {
	color: blue;
}

#member3 {
	color: green;
}

.jumbotron{
    background: #CC33FF;
}

#img1 {
	padding: 0px;
}

#front_text {
	font-size: 200%;
}

#mytitle {
	margin-top: 3cm;
	margin-bottom: 1cm;
}